@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
body{
background-color: lightyellow;
font-family:Sansita Swashed;
}
.emoji-face {
    width: 100px; ;
    height:100px ;
    background-color: #F2DD68;
    border-radius: 50%;
    box-shadow:2px 0px 2px 2px rgba(0,0,0, 0.07) ;
position: relative;
}
.eye1{
    width: 11px;
    height: 15px;
    background-color: #1a52b9;
    border-radius: 50%;
    top: 30px;
    left: 20px;
    position: absolute;
}
.eye2{
    width: 11px;
    height: 15px;
    background-color: #1a52b9;
    border-radius: 50%;
    top: 30px;
    left: 70px;
    position: absolute;
}
.mouth{
    height: 34px;
    width: 68px;
    background-color:black;
    border-radius:0 0 90px 90px  ;
    top:52px ;
    left:16px ; 
position: absolute;
overflow: hidden;}


.tongue{
    background-color:salmon ;
    height: 38px;
    width: 38px;
border-radius: 40%;
position: absolute;
top: 20px;
left: 15px;
z-index: 2;


}
.mouth-shock{
    width: 24px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top:50px ;
    left: 40px;
}